// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

// Main

body, html
  height 100%
  background-color #F8F8F8
  font-family Montserrat
  text-align center

#content
  width 560px
  height 560px
  background-color white
  margin 0 auto
  margin-top 30px

img
  position relative
  float left
  width 140px
  height 140px
  background-color #666

.title
  font-size 3em
  margin-right auto
  margin-top 20px
  margin-bottom 10px
