<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Tiles & Patterns</title>
  </head>
  <body>
    <div id="content">

      <img src='images/1.png' onclick="ic1.next(this)">
      <img src='images/3.png' onclick="ic2.next(this)">
      <img src='images/6.png' onclick="ic3.next(this)">
      <img src='images/4.png' onclick="ic4.next(this)">

    </div>

  <script>
    //This class will manage cycling through a list of images
    function ImageCollection(images) {
    this.images = images;
    this.i = 0;
    this.next = function(img) {
      this.i++;
      if (this.i == images.length)
        this.i = 0;
        img.src = images[this.i];
      }
    }

    /*
    Create an ImageCollection object for each image gallery.
    Pass each one an array of image urls to be scrolled through
    */
    var ic1 = new ImageCollection(['images/1.png','images/10.png', 'images/2.png', 'images/3.png','images/4.png', 'images/5.png', 'images/6.png','images/7.png', 'images/8.png', 'images/9.png']);
    var ic2 = new ImageCollection(['images/9.png','images/8.png', 'images/7.png', 'images/6.png','images/5.png', 'images/4.png', 'images/3.png','images/2.png', 'images/10.png', 'images/1.png']);
    var ic3 = new ImageCollection(['images/5.png','images/4.png', 'images/3.png', 'images/2.png','images/1.png', 'images/10.png', 'images/8.png','images/9.png', 'images/7.png', 'images/6.png']);
    var ic4 = new ImageCollection(['images/6.png','images/1.png', 'images/2.png', 'images/9.png','images/8.png', 'images/7.png', 'images/5.png','images/10.png', 'images/4.png', 'images/3.png']);

  </script>
  </body>
</html>
